<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="public\css\addproduct.css">
  <title>add-product</title>
</head>


<body>
  <nav class="navbar bg-dark navbar-dark p-4">
    <div class="container-fluid d-flex justify-content-center  ">
      <form class="d-flex " role="search">
        <button class="bg-dark border-0 " type="submit"><img class="bg-dark w-75 " src="public\assets\images\icon-s.svg"
            alt=""></button>
        <input
          class="form-control me-2 bg-dark text-white  p-0 input border-top-0 border-start-0 border-end-0 rounded-0  "
          type="search" placeholder="Search for product" aria-label="Search">
      </form>
    </div>
  </nav>

  <section>
    <div class="row">
      <div class="col-md-4">
        <div class="container">
        <div class="mt-3">
          <img class="img-fluid " src="public\assets\images\icon\imageicon.svg" alt="">
        </div>
        <div class="mt-4 ms-4 p">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button buttonf collapsed text-danger fw-bold " type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" data-translate="categoryname1">
                  {{categoryname1}}
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body buttons">
                  <h6 data-translate="productname1">{{productname1}}</h6>
                  <h6 class="" data-translate="productname2">{{productname2}}</h6>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed text-danger fw-bold " type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" data-translate="categoryname2">
                  {{categoryname2}}
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body buttons">
                  <!-- this is product names  -->
                  <h6 data-translate="productname3">{{productMname3}}</h6>
                  <h6 class="" data-translate="productname4">{{product_name4}}</h6>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed text-danger fw-bold " type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" data-translate="categoryname3">
                  {{categoryname3}}
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body buttons">
                  <h6 data-translate="productname5">{{productname4}}</h6>
                  <h6 class="" data-translate="productname6">{{productname5}}</h6>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed text-danger fw-bold " type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour" data-translate="categoryname4">
                  {{categoryname4}}
                </button>
              </h2>
              <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body buttons">
                  <h6 data-translate="productname7">{{productname5}}</h6>
                  <h6 class="" data-translate="productname8">{{productname6}}</h6>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingfive">
                <button class="accordion-button buttonl collapsed text-danger fw-bold " type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive" data-translate="categoryname5">
                  {{categoryname5}}
                </button>
              </h2>
              <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body buttons">
                  <h6 data-translate="productname9">{{productname7}}</h6>
                  <h6 class="" data-translate="productname10">{{productname8}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      

      <div class="col-md-8 mt-4 mt-md-2 d-flex justify-content-center  ">
        <div class="background p-4 mt-3 ">
          <div class="row">
            <div class="col-md-4 ">
            <label for=""><h5 data-translate="productname">{{productname}}</h5></label>  
              <input type="text" class="input1 mt-2 mb-3">
            </div>
            <div class="col-md-3">
              <h5 data-translate="productprice">{{productprice}}</h5>
              <input type="text" class="input2 mt-2 mb-3">
            </div>
            <div class="col-md-3 ms-md-5">
              <h5 data-translate="productstock">{{productstock}}</h5>
              <input type="text" class="input2 mt-2 mb-3 ">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">

              <h5 data-translate="categoryname">{{categoryname}}</h5>
              <input type="text" class="input1 mt-2 mb-3">
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label for="text" data-translate="productdescription">{{productdescription}}</label>
              <textarea id="text" class="input3 mt-2 "></textarea>
            </div>
            <div class="col-md-8 ">
              <div class="ms-md-3">
                <h5 data-translate="productimage">{{productimage}}</h5>
                <input type="text" class="w-100 input4   mt-2 ">
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-4 ">
            <button class="btn btn-primary " data-translate="Addnewproduct">{{Addnewproduct}}</button>
          </div>

        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="public\js\addproduct.js"></script>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>