<section>
{{> accordion}}

{{!-- Product Description Page --}}
      <div class="col-md-6">
        <div class=" mt-5 ms-4 ms-md-2 mt-md-3">
          <div class="d-flex flex-column flex-md-row  ">
            <div class=" ">
              <h2 data-translate="productname">{{ProductName}}</h2>
              <div class="bg"></div>
            </div>

            <div class="  ms-lg-3 ms-md-1 mt-3 mt-md-0">
              <div class="pp">
                <h3 data-translate="price">{{price}}</h3>
                <div class="price"></div>
              </div>
            </div>
          </div>


          <div>
            <label class="fw-bold my-3" for="description" data-translate="description">{{description}}</label><br>
            <textarea name="" id="description" class="descrip w-100 "></textarea>
          </div>
          <div>
            <button class="btn btn-primary mt-2 ">Quote</button>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="b_g p-3 mt-4 d-md-inline-block ms-md-1 ms-4 ms-lg-4  ">
          <div>
            <label for="check1">
              <h3 data-translate="add_on1">{{add_on1}}</h3>
            </label> <br>
            <input class="ch-box mt-4" type="checkbox" name="" id="check1">
            <input type="text" class="input-1 border-0 ">
          </div>

          <div>
            <label for="check2">
              <h3 data-translate="add_on2">{{add_on2}}</h3>
            </label> <br>
            <input class="ch-box mt-4" type="checkbox" name="" id="check2">
            <input type="text" class="input-1 border-0 ">
          </div>
          <div>
            <label for="check3">
              <h3 data-translate="add_on3">{{add_on3}}</h3>
            </label> <br>
            <input class="ch-box mt-4" type="checkbox" name="" id="check3">
            <input type="text" class="input-1 border-0 ">
          </div>
          <div>
            <label for="check4">
              <h3 data-translate="add_on4">{{add_on4}}</h3>
            </label> <br>
            <input class="ch-box mt-4" type="checkbox" name="" id="check4">
            <input type="text" class="input-1 border-0 ">
          </div>
          <div>
            <label for="check5">
              <h3 data-translate="add_on5">{{add_on5}}</h3>
            </label> <br>
            <input class="ch-box mt-4" type="checkbox" name="" id="check5">
            <input type="text" class="input-1 border-0 ">
          </div>
        </div>
      </div>
      
</section>